body{
  background: #f6f6f6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f6f6f6, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f6f6f6, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-attachment: fixed;
  background-repeat: repeat;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.close{
  text-align: right;
  color:red;
}
.open{
  position: fixed;
  left:-1px;
  top:20%;
  background-color: white;
  padding:5px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  text-align: center;
  line-height: 50%;
  border-radius: 0px 5px 5px 0px;
  border:solid #ccc 1px;
  z-index:10;
}
.open a{
  color:green;
}
.close a{
  color:red;
}
.sede{
  z-index:10;
  position:fixed;
  background-color:white;
  text-align:center;
  bottom:-2px;
  left:15px;
  padding:5px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  border:solid #ccc 1px;
}
.form-control{
  height:auto !important;
  min-height:38px;
}
.suggestions:hover{
  background-color: white;
  color:#CD2C22;
  transition: .5s;
  cursor: pointer;
}
.suggestions{
  z-index:2;
  height:70px;
  width:70px;
  background-color: #CD2C22;
  color:white;
  position: fixed;
  bottom: 20px;
  left:20px;
  padding:10px;
  border-radius: 50px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0px 0px 10px #333;
  transition: .5s;
}
.bottomborder{
  border-bottom:solid #DFDFDF 1px;
}
.list{
  list-style: none;
}
.drop:hover{
  color: #C83734;
  cursor: pointer;
}
.table th{
  color:white;
}
.card-header{
  border-radius: 0 !important;
}
.card{
  border-radius: 0 !important;
}
.h100{
  height:100px;
}
.badge-primary{
  background-color:#C83734;
  color:white;
}
.primary{
  color:#C83734;
}
.no-decoration{
  text-decoration: none !important;
}
.imagen-fit{
  object-fit:cover;
  height:200px;
  width:100%;
}
.hidden{
  display: none;
}
.w80{
  height:50px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.headerbox{
  height:50px !important;
}
.seleccionar{
  height:80px;
  width:auto;
  color:#DC143C;
  text-align: center;
  font-size: 12mm;
  cursor:pointer;
}
.tinytext{
  text-align: center;
  color:#6f6f6f;
  text-transform: uppercase;
  font-size: 3mm;
}
.tel{
  font-size: 4mm;
  text-transform: uppercase;
  color:#6f6f6f;
}
.back{
  background-color:#f9f9f9;
}
.h{
  margin-top: 40px;
}
.text{
  font-weight: none;
  text-align: justify;
  color:#333;
}
.nolist{
  padding:0 !important;
  margin:0;
  list-style:none;
  margin-top:10px;
}
.bg-td-calendar div
{
  font-size: 2mm;
  color:#C83734;
  text-align: left;
}
.toast{
  min-width:300px;
}
.bg-td-calendar:hover
{
  background-color: #f6f6f6;
  color:#C83734;
  cursor: pointer;
}
.logo{
  width:300px;
}
.login-logo{
  width:100%;
}
.dropdown, .nav li{
  padding:10px;
}
.nav, .navbar{
  background: #fff !important;
}
.dropdown a, .nav li a{
  color:#000;
}
.dropdown-menu{
  margin-top:-10px;
  margin-left: 10px;
  border-radius: none;
  background: transparent;
  border: none;
  width:200px;
  border:solid #ccc 1px;
}
.dropdown-header{
  padding:0;
}
.dropdown-menu li:hover{
  background-color: #f6f6f6;
  cursor: pointer;
}
.dropdown-menu li{
  display: block;
  background: white;
  padding-left:15px;
  padding-top:10px;
  padding-bottom:10px;
}
.dropdown-menu li a{
  color:#000;
  text-decoration: none;
}
.menupad{

}
.bg-primary2
{
  background-color: #6B6B6B !important;
  color:white;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #6B6B6B;
    border-left-width: 5px;
    border-radius: 3px;
}
.selected > span{

  padding:5px;
  text-align: center;
  color:white;
  background-color: #CD2C22;
  border-radius: 100px;
}

.titulo{
  color:#CD2C22;
}
.bg-td-calendar
{
  background-color: #FFF;
}
.bg-td-calendar-hover:hover
{
  cursor: pointer;
}
.bg-td-calendar-hover
{

}
.hoy
{
  color:white;
}
.day
{
  height:100px;
  vertical-align: middle;
  text-align: right;
}
.cent400
{
  width:40%;
  position: fixed;
  left:50%;
  top:50%;
  margin-top:-20%;
  margin-left:-20%;
}
.color_white
{
  color:white;
}
.bg-white{
  background-color: #FFF;
  padding:15px;
}
.boxlight
{
  box-shadow: 0px 0px 20px #333;
}
.large
{
  width:100% !important;
  border-radius: 0px;
}
.colors
{
  background-color: white;
  box-shadow: 0px 0px 20px #333;
  margin-bottom:20px;
}
.colors a
{
  color:#333 !important;
}
.panel
{
  border-radius: 0px !important;
  box-shadow: 0px 0px 20px #333;
}
.sii{
  text-align: center;
  font–weight:bold;
}
.pad15
{
  margin:5px !important;
}
.nopadding
{
  padding:0px !important;
}
.leftLine
{
  background-color: #f6f6f6;
  margin-top:25px;
  padding:15px;
}
.bg-primary{
  background-color:#C83734 !important;
}
.btn-primary{
  background-color:#C83734 !important;
  border-color:red;
}
.btn-link{
  color:#C83734 !important;
}
.a{
  color:#C83734 !important;
}
.texto
{
  margin-top:15px;
  text-align: center;
  display: block;
  height:75px;
}

.topp
{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  margin-left: 5px;
}
.bottom{
  bottom:0;
  margin-bottom:0;
  position:fixed;
  border-top:solid #dee2e6 1px;
  width: 100%;
}
.bottom li, dark{
  color:#333 !important;
  background-color: #dee2e6 !important;
}
.dark{
  background-color: #dee2e6 !important;
}
.height50{
  height:100px;
}
.chat_text{
  height:40px;
  width:100%;
  border:0;
  padding-left: 20px;
}
.chat_enviar{
  height:40px;
  border:0;
  cursor:pointer;
  text-align: center;
  line-height: 30px;
  width: 100%;
}
.chat{
  min-height: 500px;
}
.toast{
  min-width:300px;
  cursor:pointer;
}
.wd{
  width:20px;
}
.top20{
  margin-top:20px;
}
.chat{
  border-left: solid #f6f6f6 1px;
}
.chat_chat{
  border-bottom: solid #f6f6f6 1px;
  overflow-y:scroll;
  min-height:460px;
  max-height:300px;
  padding:10px;
}
.chat_2 {
  text-align: right;
  margin-top:10px;
  background-color: #f6f6f6;
  border-radius: 10px;
  width:60%;
  display: block;
  float:right;
  padding:10px;

}
.chat_1 {
  text-align: left;
  margin-top:10px;
  background-color: #C83734;
  border-radius: 10px;
  width:60%;
  display: block;
  float:left;
  padding:10px;

}
.chat_2 span{
  color:#333;
  text-align: right;
}
.chat_1 span{
  color:#FFF;
}
.borderless{
  border:none;
}
.conversations li:hover{
  background-color: #f6f6f6;
  cursor:pointer;
}
.gray{
  background-color: #f6f6f6;
}
.mail{
  height:40px;
  border:solid #f3f3f3 1px;
  line-height: 40px;
  color:#C83734;
}
.mail:hover{
  background-color: #C83734;
  color:white;
  cursor: pointer;
}
.i15{
  text-indent: 15px;
}
.frameset{
  width:100%;
  height:500px;
  border:none;
}
.sel{
  background-color: #C83734;
  color:white !important;
}
.sel > a{
  color:white !important;
}
.sel > span[class="badge-primary"]{
  background-color:white !important;
}
.mailbox{
  height:50px;
  border:solid #f3f3f3 1px;
  line-height: 40px;
  color:#C83734;
  padding:5px;
}
.mailbox span{
  text-align: center !important;
  margin-top:12px;
}
.mailbox a{
  color:#C83734;
  padding-left: 15px;
}
.mailboxes{
  list-style: none;
  margin:0;
  padding:0;
}
.dropzone{
  margin-top: 20px;
  border:none !important;
  border-radius: 5px;
  background: white;
}
#mceu_30{
  display: none !important;
}
