body,html{
  font-size: 4.5mm;
  font-family: 'Myriad Pro Regular';
  background-color: #333;
  background-image: url("../images/barra_sushi_remoto_slide03.jpg");
  background-attachment: fixed;
  background-size:auto;
  background-repeat: no-repeat;
}
.texto{
  min-height:200px;
  text-align: justify;
  color:white !important;
}
.nav-link{
  color: #BC902C !important;
}
.active{
  background-color: #BC902C !important;
  color:#000 !important;
}
.card{
  background: #000 !important;
}
.suggestions:hover{
  background-color: white;
  color:#CD2C22;
  transition: .5s;
  cursor: pointer;
}
#content{
  height:500px;
  background-color: #000;
  margin-top:200px;
  border-radius: 20px;
}
.suggestions{
  height:70px;
  width:70px;
  background-color: #CD2C22;
  color:white;
  position: fixed;
  bottom: 20px;
  left:20px;
  padding:10px;
  border-radius: 50px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0px 0px 10px #333;
  transition: .5s;
}
.logo{
  width:100%;
  height:auto;
}
.menu{
  background-color: #000;
  border-radius: 0px 0px 20px 20px;
}
