body,html{
  font-size: 4.5mm;
  font-family: 'Myriad Pro Regular';
  /* background-color:#DD9933 !important; */
}
.img{
  width:100%;
  height:auto;
}
#map
{
  height: 400px;
}
.progress-bar{
  background-color: #CD2C22 !important;
}
.navbar-light .navbar-text a:hover, .navbar-light .navbar-nav .nav-link:hover{
  text-decoration: underline;
  color:#CD2C22 !important;
}
.suggestions:hover{
  background-color: white;
  color:#CD2C22;
  transition: .5s;
  cursor: pointer;
}
.suggestions{
  height:70px;
  width:70px;
  background-color: #CD2C22;
  color:white;
  position: fixed;
  bottom: 20px;
  left:20px;
  padding:10px;
  border-radius: 50px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0px 0px 10px #333;
  transition: .5s;
}
.search{
  height:30px;
  width:250px;
  border-radius: 6px;
  border:solid gray 2px;
  background-color: transparent;
  color:gray;
  padding-right:5px;
  padding-left:5px;
}
.white{
  color:gray !important;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  border-right:solid gray 2px;
}
.gray{
  color:#666;
  padding:15px;
}
.hoverca{
  padding:5px;
  width: 100%;
  background-color: #333;
  color:white;
  text-transform: uppercase;
}
.navbar-light .navbar-text a, .navbar-light .navbar-nav .nav-link{
  text-transform: uppercase;
  border-right:solid #666 1px;
  padding-right:20px;
  padding-left:20px;
}
.navbar-light .navbar-nav .nav-link:first-child{
}
.active{
  color:#CD2C22 !important;
}
.active:hover{
  color:#CD2C22 !important;
}
.slick-arrow{
  height:30px !important;
  width:30px !important;
  border:solid #666 2px !important;
  border-radius: 10px !important;
  color:#DFDFDF !important;
  margin-right:20px;
  background-color: #c2c2c2 !important;
}
.text-slider .nbtn{
  text-transform: uppercase;
  font-size: 8mm;
  color:#CD2C22;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
  border:none;
  cursor: pointer;
}
.borderless{
  border:none !important;
}

.image{
    position: relative;
    float: left;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.controls {
       margin-top: 16px;
       border: 1px solid transparent;
       border-radius: 2px 0 0 2px;
       box-sizing: border-box;
       -moz-box-sizing: border-box;
       height: 32px;
       outline: none;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     }

     #pac-input {
       background-color: #fff;
       font-family: Roboto;
       font-size: 15px;
       font-weight: 300;
       margin-left: 12px;
       padding: 0 11px 0 13px;
       text-overflow: ellipsis;
       width: 400px;
     }

     #pac-input:focus {
       border-color: #4d90fe;
     }

     .pac-container {
       font-family: Roboto;
     }

     #type-selector {
       color: #fff;
       background-color: #4d90fe;
       padding: 5px 11px 0px 11px;
     }

     #type-selector label {
       font-family: Roboto;
       font-size: 13px;
       font-weight: 300;
     }

.logo{
  height:130px;
}
.title{
  color:#CD2C22;
}
.badge-primary{
  background-color: #CD2C22;
}
.card-borderless{
  border:none !important;
  cursor: pointer;
  background-color: transparent !important;
}
.top10{
  margin-top: 20px;
}
.close-btn{
  background-color: #CD2C22;
  color:white;
  height:35px;
  width:35px;
  display: block;
  position: absolute;
  border-radius: 40px;
  border:solid white 2px;
  text-align: center;
  line-height: 35px;
  margin-top: -40px;
  right:-5px;
  font-size: 4mm;
  cursor:pointer;
}
.save-btn{
  background-color: #333333;
  color:white;
  cursor:pointer;
}
.h100{
  height:100px;
}
.h150{
  height:150px;
}
.imagen-menu .image:hover{
  opacity: 0.5;
  transition: .5s;
}
.imagen-menu .image{
  opacity: 1;
  transition: .5s;
  cursor:pointer;
}
.footer{
  height:100px;
  width:100%;
  line-height: 100px;
  text-align: center;
  color: #333;
}
.btn-primary{

  border:solid #A41213 1px;
}
.bg–primary{

  border:solid #A41213 1px;
}
a{

}
.help-block{

}
.bg–black{
  background-color: #333;
  padding-top: 100px;
}
.btn-link{

}
.bg–black ul{
  list-style: none;
}
.bg–black a{
  color:white;
}
.npm{
  margin:0;
  padding:0;
}
.p15{
  padding-top:50px;
  padding-bottom:50px;
}
#content
{
    min-height: 500px;
}
  .min100{
  min-height: 120px;
  text-align: justify;
}
.bg-primary{
  background-color: #CD2C22 !important;
  color:white;
}
.nolist{
  list-style: none;
}
.chat-s{
  text-align:right;
  background-color: #f6f6f6;
  padding:5px;
  border-radius: 8px;
  margin-top:5px;
}
.chat-send{
  background-color:#CD2C22;
  border-top:solid #f6f6f6 2px;
}
.chat-send input{
  width: 10
