@font-face {
  font-family: "myriad";
  src: url("../fonts/MyriadPro-Regular.otf");
}

body { font-family: "myriad", serif }

.header{
  background-color: #FFF;
}
.menu{
  background-color: #FFF;
}
.main{
  background-color: #FFF;
}
.slides{
  margin-bottom:0 !important;
}
.simg{
  height:100%;
  width:100%;
  margin:5px;
}
.hcent{

}
.m10{
  padding-top:100px;
}
.w{
  width:20px;
}
.white{
  background-color:#fff;
  height:60px;
  margin:0;
}
.tempura{
  padding:0;
}

.tempurarow2{
  margin:0;
}
.ti1{
  color:#777;
  font-size: 8mm;
  text-align: center;
  display:block;
  line-height: 450%;
}
.top-nav{
  line-height: 600%;
}
.top-nav li a{
  font-weight: 6mm;
  color:#777;
}
.menu .col a{
  color:#777;
}
.rel {

}
.menu .col{
  display: inline-block;
  text-align: center;
  font-size: 6mm;
  line-height: 700%;
}
.slider{
  width:100%;
  display: block;
  background-color: white;
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
}
.abs{
  position: absolute;
  top:0;
  width:100%;
}
.imgslider{
  padding:25%;
}
.imgslider2{
  padding-left: 88%;
  padding-right: 2%;
  padding-top:55%;
}
.flex-direction-nav
{
  margin:0;
}
.flex-prev
{
  background: none;
}
.blanco{
  background-color: #fff;
}
.main{
  padding:15px;
}
